{% extends 'base.html.twig' %}
{% block body %}
<br>
<div class="panel panel-default">
  <div class="panel-heading">
<h1>Bestelde artikelen</h1>
</div>
<div class="panel-body">
<div class="table-responsive">
<table class="table table-striped">
    <tr>
        <td style="width: 10%">Artikel Nr.</td>
        <td>Omschrijving</td>
        <td>Aantal</td>
    </tr>

	{% for Bestelregel in Bestelregels %}

      <tr>
         <td style="width: 10%">{{Bestelregel.artikelnummer}}</td>
          <td>

          {% for Artikel in Artikelen %}
          {% if Bestelregel.artikelnummer.artikelnummer == Artikel.artikelnummer %}
          {{Artikel.omschrijving}}
          {% endif %}
          {% endfor %}
          </td>
          <td>{{Bestelregel.aantal}}</td>
      </tr>

    {% endfor %}

</table>
</div>
</div>
</div>

{% endblock %}
