{% extends 'base.html.twig' %}
{% block body %}
	<h1>Alle Bestelregels</h1>
	{% for Bestelregel in Bestelregels %}
		<ul>
			<div>{{Bestelregel.artikelnummer}}, {{Bestelregel.aantal}} </div>
		</ul>
  {% endfor %}
{% endblock %}
