{% extends 'base.html.twig' %}
{% block body %}
	<h1>Alle Bestellingen</h1>
	{% for Bestelopdracht in Bestelopdrachten %}
		<ul>
			<li>{{Bestelopdracht.bestelordernummer}}, {{Bestelopdracht.naamLeverancier}} </li>
			<a href="{{path('alleBestelregels',{'bestelordernummer':Bestelopdracht.bestelordernummer})}}">Bekijken</a>
		</ul>
  {% endfor %}
{% endblock %}
