{% extends 'base.html.twig' %}
{% block body %}
<br>
<div class="panel panel-default">
  <div class="panel-heading">
<h1>Ontvangen Bestellingen</h1>
</div>
<div class="panel-body">
<div class="table-responsive">
<table class="table table-striped">
    <tr>
        <td>Artikel</td>
        <td>Aantal</td>
    </tr>

	{% for Bestelregel in Bestelregels %}

      <tr>
          <td>{{Bestelregel.artikelnummer}}</td>
          <td>{{Bestelregel.aantal}}</td>
      </tr>

    {% endfor %}

</table>
</div>
</div>
</div>

{% endblock %}
